{% extends 'hyperdrated/base.html' %} {% block content %}

<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
      <div class="row">
          <div class=" col-md-8 col-md-10 mx-auto">
              <div class="site-heading">
                  {% for message in messages %}
                  <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                      <strong>Message:</strong> {{message}}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  {% endfor %}
              </div>
          </div>
      </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <p class="card-text ">{{ post.content | safe }}</p>
        <div>
          <a href="voteup/" class="btn btn-primary btn-lg">pure water!<br>{{post.up_vote}}</a>
          <a href="votedown/" class="btn btn-danger btn-lg" style="float:right">death potion<br>{{post.down_vote}}</a>
        </div>
      </div>
    </div>
    {% block sidebar %} {% include 'hyperdrated/sidebar.html' %} {% endblock sidebar %}
  </div>
</div>

{% endblock content %}
