{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hyperdrated</title>
</head>
<body>
    
    <h2>Login</h2>

    <form action="" method="post">
    {% csrf_token %}
        <label for="">Username</label>
        <input type="text" name="username" id="username" placeholder="Username">
        <br>

        <label for="">Password</label>
        <input type="password" name="password1" id="password1" placeholder="Password">
        <br>

        <button type="submit">login</button>
    </form>

    <br>
    <br>
    <br>

    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    {% endfor %}

</body>
</html>
{% endblock %}